<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.surelabsid.newmrjempoot">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".utils.Apps"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewMrJempoot.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="usesCleartextTraffic">
        <activity
            android:name=".gopek.FilterGopek"
            android:exported="false" />
        <activity
            android:name=".gopek.DiskonGopekActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gopek.DetailGopekActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".goban.RingkasanExtraVipActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".goban.GobanVipActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".goban.LandingGobanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".goban.GobanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gopek.GopekActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.AmbilKtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.DaftarMembershipActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".member.LandingMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".wallet.TopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.alamat.SavedAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.akun.DataPribadiActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".addresspick.MapsPickerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".goceng.LandingGocengActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".goceng.GocengActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".favorite.WishListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.WalletLandingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.akun.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.alamat.AddressActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.notifikasi.NotifikasiActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.changelang.ChangeLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.helpcenter.HelpCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".settings.privacy.PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".landing.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".landing.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".onboard.OnBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
        <activity
            android:name=".gokidz.SpeedDetectionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewMrJempoot.NoActionBar" />
    </application>

</manifest>